html {
  font: normal normal normal 1em/1.5 "Helvetica Neue", Arial, sans-serif;
  color: #797166;
  background-color: #f5f3f0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #e45772;
  color: #e45772;
}

a:hover {
  color: #d9818b;
}

.logo img {
  max-width: 29.125em;
  width: 100%;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #5c626a;
  padding-top: 2.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0 0.5em;
  line-height: 1.3;
  padding-top: 0.5em;
  color: #5c626a;
}

.h2-padding {
  padding-bottom: 1.7em;
  padding-top: 0;
}

h3 {
  font-size: 1.25em;
  margin: auto;
}

h4 {
  margin: auto;
}

li {
  margin: 0.5em 0 0;
  padding: .3em;
}

.img-responsive {
  display: block;
  margin: 0 auto;
}

.speaker h3 a {
  color: #797166;
  border: none;
}

.speaker {
  line-height: 1.38em;
  float: right;
  padding-left: 1em;
}

.speaker.col-1-3 {
  width: 60%;
}

hr {
    width: 80%;
    max-width: 31.25em;
    border: none;
    border-top: 1px solid;
}

/*Uses a grid system to allow for easy width setting*/


/*To make them next to each other, float them and apply widths. */

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-8 {
  width: 12.5%;
}

.col-full {
  width: 100%;
}


/*to avoid parent element collapsing to zero height (since it has only floated children), clear it.*/

.grid:after {
  content: "";
  display: table;
  clear: both;
}


/*"universal box-sizing": width you set is the width you get...*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*apply fixed padding to the right side of all columns except the last one*/

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.header {
  background: url("./img/header-img.jpg");
  background-size: cover;
  padding: 1.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mail-cont {
  padding: 20px;
}

.mail-container {
  background: #fff;
  box-shadow: 4px 4px 2px #ddd;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.mail-container p {
  font-size: 15px;
}

.mail-container button {
  display: block;
  margin: 30px auto 0 !important;
  text-align: center;
}

button {
  cursor: pointer;
  width: auto;
  padding: 0.45em 1.6em 0.375em;
  line-height: 1.5;
  border: 1px solid #aaa;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  border-radius: .2em;
}

.button.pink {
  color: #fff;
  font-weight: bold;
  border-color: #e35772;
  background: #e35772;
  filter: none;
  box-shadow: inset 0 0.15em 0.15em #e86f82;
}

.button:hover {
  background: #d9818b;
  color: #f5f3f0;
}

.rect-headshot {
  border-radius: .3em;
  width: 100px;
  float: left;
}

.clear-me {
  clear: both;
  padding-top: .7em;
}

.size-control {
  max-width: 61em;
  width: 100%;
  margin: 0 auto;
}

.contact {
  max-width: 61em;
  font-size: .875em;
  margin: 0 auto;
}

.footer {
  width: 100%;
  line-height: 2em;
}

.footer-img {
  width: 15em;
  padding-top: 1em;
  padding-bottom: 3em;
}

.uie-logo {
  /*background: #51525a;*/
}

@media screen and (min-width: 398px) {
  .speaker.col-1-3 {
    padding-left: 1em;
  }
}

@media screen and (max-width: 710px) {
  .col-1-3 {
    width: 100%;
  }
  .col-2-3 {
    width: 100%;
  }
  .col-1-2 {
    width: 100%;
  }
}

@media screen and (max-width: 1175px) {
  .speaker {
    line-height: 1.7em;
    padding: 0;
  }
  .rect-headshot {
    width: 145px;
    float: left;
  }
}
